<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}

{% endblock title %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {%block h1%}
    <h1>My Website</h1>
    {% endblock h1 %}

    {% include 'nav.html' %}
    
   <main>
{% block content%}

{% endblock content%}

   </main>

    <footer>
        {%block footer%}

        {%endblock footer%}

    </footer>
</body>
</html>